
# Imágenes de la Página:
visual_elements/*images
visual_elements/*resources

# Los íconos al ser svg los voy a dejar en el repositorio
# Ya que los SVG, se consideran como texto plano
!visual_elements/reptmath_icons